.todo-container {
  //   display: flex;
  //   flex-direction: column;
  justify-items: center;
  align-items: center;
  height: 300px;
  grid-column: content-s/content-e;
  grid-row: collection-s/collection-e;
  justify-items: center;
  overflow-y: scroll;
}

.todo-collection {
  display: flex;
  justify-content: center;

  .deleteTodo-btn {
    display: grid;
    grid-row: collection-s/collection-e;
    background-color: red;
    border: none;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
  }
}
